<html>
<head>
    <title></title>
</head>
<body>
    <table align="center" bgcolor="#EAECED" border="0" cellpadding="0"
    cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td align="center" valign="top">
                    <table width="600">
                        <tbody>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table border="0" cellpadding="0"
                                    cellspacing="0" width="570" style="text-align: center">
                                        <tbody style="text-align: center">
                                            <tr style="text-align: center">
                                                <td style="text-align: center">
                                                    <a href="https://targg.com/"
                                                    target="_blank"><img alt=
                                                    "Targg logo"
                                                    height="50.0" src=
                                                    "https://targg.com/static/img/targg-email.png"
                                                    style="border:0" width=
                                                    "125.0"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <table bgcolor="#FFFFFF" border="0"
                                    cellpadding="0" cellspacing="0" style=
                                    "overflow:hidden!important;border-radius:3px"
                                    width="580">
                                        <tbody>
                                            <!-- <tr>
                                                <td>
                                                    <a href=
                                                    "http://get.invisionapp.com/e1t/c/*W8q197m87bTZDW3GQmLK13hZky0/*W7SkycG5cYpmfW3XhLVD5tsMT50/5/f18dQhb0Sq5w4fnnwSW43BfBd1m65n7W2shn2V2MDC5CW5-qVB31mhDGsW99bMYS975cK1W4rxpl_5DQqVhV9X0H996Ls8bV43d0S64-rwcW50l_G32yBkSCW2JlhfY5K134SW7cPhlV5lK4xPW33k-n51VctNQW2MznrN5nbq6BVGXpVf3-9KlWW2RRS4L55WhgFW7dDxTN7mWsnXW7dzcsS51vDG6W1ftJ7Z1x4lQBN6Hq25xphxl5W1njMtB6GFVmfW2gvtCX3NnV4FW1nJpwv26pdfjW35yfv294C02vVbzrsy8lWMkFW4nQyPG8l17XhW4n-Wt15s9RphW4tFLYf5B4B4qW2C2jnz2zzyPsN66Gz6Gbq4w8W9c0D815yZH-vW94v-N_4wSBJmW3MxwM85s1ktZW5JFhXp35MfmnW3k52N16RgwxMW7q7-Qc6kl2SyW7dr9qW72YqDyW8pnqwr34p5LqW5G0hSP5D3X_kW5BJqQx49jM9bV84rVz6PxM5dW6Q63ZP6MXGH5W4BKzDk8tf9ykN8yly0PQZnnGW2kt1qQ6jFZQYF73r2_lPwPkf6LRzGq03"
                                                    target="_blank"><img src=
                                                    "https://ci3.googleusercontent.com/proxy/WA583Dzj3xOSyw8PmAqPlQtKApwvkuh9iQz8jHcmPCJRGz-urlZ0vZQBA3S_X49Dx3Vw-SGKrfUoXurGsivYeNfiUiL8H0PSDgfBNW4yQHc95UY2SSNV5YzEV3UBtTAG61BgKSa4nmWf8ckzr1oW8TyULKUVNjFu=s0-d-e1-ft#http://get.invisionapp.com/hs-fs/hubfs/2015_Year_In_Review/v5.png?width=&amp;t=1452605472977&amp;width=580"
                                                    style=
                                                    "border:0;max-width:100%!important"
                                                    width="580"></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                            </tr> -->
                                            <tr>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <table width="85%">
                                                        <tbody>
                                                            <tr>
                                                                <td align=
                                                                "center" style=
                                                                "font-family:'Open Sans',arial,sans-serif!important;font-size:28px!important;line-height:38px!important;font-weight:400!important;color:#252b33!important;font-style:italic!important">
                                                                %title%</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <table border="0"
                                                    cellpadding="0"
                                                    cellspacing="0" width=
                                                    "78%">
                                                        <tbody>
                                                            <tr>
                                                                <td align=
                                                                "center" style=
                                                                "font-family:'Open Sans',arial,sans-serif!important;font-size:16px!important;line-height:30px!important;font-weight:400!important;color:#7e8890!important">
                                                                %content%<br/>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                            </tr>
                                            %content_has_button%
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table border="0" cellpadding="0"
                                    cellspacing="0" width="580">
                                        <tbody>
                                            <tr>
                                                <td align="center" valign=
                                                "top">
                                                    <a href=
                                                    "https://www.facebook.com/targgvoicebot"
                                                    target="_blank"><img alt=
                                                    "Facebook" height="32" src=
                                                    "https://targg.com/static/img/facebook.png"
                                                    style="border:0;margin-right:5;" width=
                                                    "32"></a>
                                                    <a href=
                                                    "https://www.linkedin.com/company/targg/"
                                                    target="_blank"><img alt=
                                                    "Linkedin" height="32" src=
                                                    "https://targg.com/static/img/linkedin.png"
                                                    style="border:0;margin-right:5;" width=
                                                    "32"></a>
                                                    <a href=
                                                    "https://www.instagram.com/targgvoicebot"
                                                    target="_blank"><img alt=
                                                    "Instagram" height="32" src=
                                                    "https://targg.com/static/img/instagram.png"
                                                    style="border:0;margin-right:5;" width=
                                                    "32"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table border="0" cellpadding="0"
                                    cellspacing="0" width="580">
                                        <tbody>
                                            <tr>
                                                <td align="center" style=
                                                "font-family:'Open Sans',sans-serif!important;font-weight:400!important;color:#7e8890!important;font-size:12px!important;text-transform:uppercase!important;letter-spacing:.045em!important"
                                                valign="top">Revolutionizing the corporate telephony area</td>
                                            </tr>
                                            <tr style=
                                            "padding:0;margin:0;font-size:0;line-height:0">
                                            <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="center" style=
                                                "font-family:'Open Sans',sans-serif!important;font-weight:400!important;color:#7e8890!important;font-size:11px!important;letter-spacing:.05em!important"
                                                valign="top"><em>Artificial intelligence that connect and talk with your customers</em></td>
                                            </tr>
                                            <tr style=
                                            "padding:0;margin:0;font-size:0;line-height:0">
                                            <td>&nbsp;</td>
                                            </tr>
                                            <tr style=
                                            "padding:0;margin:0;font-size:0;line-height:0">
                                            <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign=
                                                "top">
                                                    <p style=
                                                    "margin-bottom:1em;font-family:Open Sans,sans-serif!important;padding:0!important;margin:0!important;color:#7e8890!important;font-size:12px!important;font-weight:300!important">
                                                    <span>To cancel your email subscription <a href="https://authentication.targg.com/v1/cancelSubscription?email=%user_email%" target="_blank">Click here</a></span></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>